.container {
  background-color: rgb(58, 59, 59);
  .title {
    display: flex;
    justify-content: center;

    font-size: 204px;
    mask-image: url("../../public/assets/Pessoas.svg");
    mask-size: cover;
    mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-size: 40%;
    -webkit-background-clip: text;
    background-clip: text;
    color: #cecece;
  }

  .image {
    mask-size: cover;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 10rem;
    text-align: center;
  }
}
